extends layout

block content
  div.nav-path 
    a( class= "nav-path-links" href="/") Home
    p  / 
    a( class= "nav-path-links" href="/cocktails") Cocktails
    p  / 
    a( class= "nav-path-links" href=`${cocktail.url}`) #{cocktail.name}
    p  / 
    a( class= "nav-path-links" href=`${cocktail.url}/update`) Update

  div.create-page
    div.form-container
      h1 Update Cocktail

      form#cocktail-form.forms(method='POST' action='')
        label(for='name') Cocktail
        input#name(type="text" name='name' value= (!cocktail ? '' : cocktail.name))
        label(for='base') Base Liquor
        select#base(type="select" name='base' placeholder="Select Base Liquor")
          - liquors.sort((a,b) => { return b.name > a.name ? -1 : 1 });
          for liquor in liquors
            if (liquor.name === cocktail.liquor.name) 
                option(value=liquor._id selected) #{liquor.name}
            else
                option(value=liquor._id) #{liquor.name}
        label(for='description') Description
        textarea(type='text' name='description')= `${!cocktail ? '' : cocktail.description}`
        label#password(for= "password") #[Strong Password*]
        input(type="password" name="password")
        div.form-buttons
          button(type='submit' class= 'link-button') Update
          a(class= 'link-button' href="/cocktails") Cancel

    if errors
      ul.errors 
        for error in errors 
          li!= error.msg 
    if password
      ul.errors
        li= password