extends layout

block content
  div.nav-path 
    a( class= "nav-path-links" href="/") Home
    p  / 
    a( class= "nav-path-links" href="/cocktails") Cocktails

    
  div.list-page
    div.list-container
      h1 Cocktail List
      hr

      if cocktails
        for cocktail in cocktails 
          div.item
            div.item-description
              h3
                a(href= cocktail.url) #{cocktail.name}
              p
                a(href= cocktail.liquor.url) #{cocktail.liquor.name}
              p= cocktail.description 
            if (cocktail.imageURL)
              img.list-img(src=cocktail.imageURL, alt=cocktail.name)
      div
        a.link-button(href="/cocktails/create") Create New Cocktail